.label-none{
	box-shadow: #fff;
	font-weight: normal;
	background-color: #efefef;
}

.mgl-10{margin-left: 10px}


/** color */
.green{color: #468847;}
.orange{color: #c09853;}
.red{color: #b94a48;}
.blue{color: #3a87ad;}


/** bootstrap扩展*/
.nav-tabs-center> li{text-align: center ;min-width: 80px;}


/** 表单验证 */
.formwizard{position:relative}
.formwizard-steps{margin:0;padding:0;display:inline-block;background:#fff}
.formwizard-steps li{display:inline-block;position:relative;margin-right:5px;line-height:18px;list-style:none;padding:12px 17px 10px 30px;background:#efefef;zoom:1;*display:inline;*padding-left:17px}
.formwizard-steps li:first-child{-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;padding-left:12px}
.formwizard-steps li:first-child:before{border:0}
.formwizard-steps li:last-child{-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;margin-right:0}
.formwizard-steps li:last-child:after{border:0}
.formwizard-steps li:before{position:absolute;left:0;top:0;height:0;width:0;border-bottom:20px inset transparent;border-left:20px solid #fff;border-top:20px inset transparent;content:""}
.formwizard-steps li:after{position:absolute;right:-20px;top:0;height:0;width:0;border-bottom:20px inset transparent;border-left:20px solid #efefef;border-top:20px inset transparent;content:"";z-index:2}
.formwizard-steps .label{margin:0 5px 0 0;padding:1px 5px 2px;position:relative;top:-1px}
.formwizard-steps .active{color:#fff;background:#007acc}
.formwizard-steps .active:after{border-left-color:#007acc}
.formwizard-steps .current span{color:#fff;cursor:default; background-color: #333;}
@media(max-width:480px){.formwizard-steps li,.formwizard-steps li.active,.formwizard-steps li:first-child,.formwizard-steps li:last-child{background-color:transparent;padding:0;margin-right:0}
.formwizard-steps li:after,.formwizard-steps li:before{border:0}}